.apis-tool{
    i{
        display: inline-block;
        border: 1px solid #d8d8d8;
        height: 25px;
        width: 25px;
        line-height: 25px;
        text-align: center;
        border-radius: 50%;
        transition: all 0.2s;
        cursor: pointer;
        background: #d8d8d8;
        position: relative;
        margin: 0 3px;
        transition: all 0.2s;
        color: #666;
        &:hover{
            transform: scale(1.2);
        }
    }
}

.api{
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
    .api-href{
        border: 1px solid #dbdbdb;
        height: 40px;
        line-height: 40px;
        border-radius: 15px;
        padding-left: 20px;
        font-size: 14px;
        a{
            text-decoration: underline;
        }
    }
    .api-tool{
        margin-top: 10px;
        line-height: 30px;
        padding-left: 20px;
        .api-show-num{
            color:#2db7f5;
        }
    }
    
}